<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contactanos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <header>
        <nav>
        <div class="nav-logo">
        <img src="imagenes/png-clipart-logo-house-home-house-angle-building-thumbnail.png" alt="Logo">
        </div>
        <div class="nav-cont">
            <div class="nav-links">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav center">
                        <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Inicio</span></a></li>
                        <li class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="#"><span>Servicios</span></a></li>
                        <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Productos</span></a></li>
                        <li class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="#"><span>Reservar</span></a></li>
                        <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Contáctanos</span></a></li>
                    </ul>
                </div>
            </div>
        <button id="register-btn"><a href="#" id="button_nav1">Registrarse</a></button>
        <button id="login-btn"><a href="#" id="button_nav2">Iniciar sesión</a></button>
        </div>    
    </nav>
    </header>
 
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center">
                <h1 align ="center">CONTACTA CON NOSOTROS</h1>
                <div class="linea-blanca"></div>
                <br>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="dos">
                        <i class=""></i>
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p> 
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="uno">
                        <i class="bi bi-envelope"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Correo Administrativo:</h5>
                            <p class="m-0"> <a class="correo" href="laarboledafincacalarca@gmail.com">laarboledafincacalarca@gmail.com</a></p>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="uno">
                        <i class="bi bi-telephone"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Teléfono:</h5>
                            <p class="m-0"><a class="telefono" href="tel:305-s8605546">305-8605546</a></p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="">
                        <i class="bi bi-geo-alt"></i>
                        <div class="d-flex flex-column">
                            <div class="uno" >
                            <h5 class="font-weight-bold">Sede principal:</h5>
                            <p>POTOSI LA BELLA , Calarcá, Colombia, 632008</p>
                           </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="uno" >
                            <p class="m-0"> <strong> UBICACION FINCA:</strong> </p>
                            <div class="mapa">
                                <hr><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.6910492765855!2d-75.68431522610845!3d4.468406543629789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f727bf3fda87%3A0xab83da2b03563d2a!2sFinca%20tur%C3%ADstica%20la%20Arboleda!5e0!3m2!1ses!2sco!4v1681500080233!5m2!1ses!2sco" width="317" height="240" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <strong class="let-1">Nombre:</strong>
                                        <br>
                                        <br>
                                        <input type="text" class="form-control p-4" id="name"   placeholder= "Escribe tu nombre" required="required" data-validation-required-message="Porfavor ingrese su nombre" style="border-radius: 30px;" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <strong class ="let-1">Correo electrónico:</strong>
                                        <br>
                                        <br>
                                        <input type="email" class="form-control p-4" id="email" placeholder="Escribe tu Correo electronico" required="required" data-validation-required-message="Porfavor ingrese su email" style="border-radius: 30px;"/>
                                    </div>
                               </div>
                            </div>
                            <div class="control-group">
                                <strong class ="let-1">Numero de contacto:</strong>
                                <br>
                                <br>    
                                <input class="let" type="text" class="form-control p-4" id="number" placeholder="Dijite su numero de contacto" required="required" data-validation-required-message="Por favor ingrese su numero" pattern="^[0-9]+$" style="border-radius: 30px;"/>
                            </div>
                            <div class="control-group">
                                <strong class ="let-1">Mensaje:</strong>
                                <br>
                                <br>
                                <textarea class="form-control" rows="5" id="message" placeholder="Escribe el mensaje que desees enviar" required="required" data-validation-required-message="Porfavor ingrese su mensaje" style="border-radius: 30px;"></textarea>
                                 <p class="help-block text-danger"></p>
                            </div>
                                <br>
                                 <br>
                            
                            <div align ="right">
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="border-radius: 10px;" type="submit" id="sendMessageButton" > <strong>ENVIAR</strong></button>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-up"></i></a>
    <footer class="bg-img">
        <div class="footer-col col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <img src="imagenes/png-clipart-logo-house-home-house-angle-building-thumbnail.png" alt="Logo">
            <br>
            <div class="logo-col">
            <h3>Nuestra visión es...</h3>
            <br>
              <div class="social-icons">
                <a href="#"><img src="imagenes/facebook.png" alt="logo FB"></a>
                <a href="#"><img src="imagenes/gorjeo.png" alt="logo TW"></a>
                <a href="#"><img src="imagenes/instagram.png" alt="Logo IG"></a>
              </div>
            </div>
        </div>
        <div class="footer-col col-lg-1-5 col-md-1 col-sm-6 col-xs-12">
          <h3>¿Por qué elegirnos?</h3>
          <p>How it works</p>
          <br>
          <p>Featured</p>
          <br>
          <p>Partnership</p>
        </div>
        <div class="footer-col col-lg-1-5 col-md-1 col-sm-6 col-xs-12">
          <h3>Contactos</h3>
          <p class="font-email">Correo: laarboledafincacalarca@gmail.com</p>
          <br>
          <p>Teléfono: +57 7383738</p>
          <br>
          <p>Celular: 312 526 77 26</p>
        </div>
        <div class="footer-col col-lg-1-5 col-md-1 col-sm-6 col-xs-12">
          <h3>Redes Sociales</h3>
          <ul>
            <li><a href="#">TIKTOK</a></li>
            <li><a href="#">INSTAGRAM</a></li>
            <li><a href="#">TWITTER</a></li>
            <li><a href="#">FACEBOOK</a></li>
          </ul>
        </div>
        <div class="footer-col col-lg-1-5 col-md-1 col-sm-12 col-xs-12">
          <h3>Danos tu opinión</h3>
          <br>
          <button class="contactButton"> PQRS
            <div class="iconButton col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
            </div>
          </button>
          <br>
        </div>
        <div class="footer_copyright">
          <div class="copy1">©2023 Todos los derechos reservados</div>
          <div class="copy2">Diseñado por ADSI - 205 SENA</div>
          <div class="copy3">Terminos y Condiciones</div>
        </div>
      </footer>
</body>

</html>