
body{
    background-color: #b9b9b9;
}

.container-fluid{
  margin-top: 200px;
}

.text-center h1{
    display: flex;
    align-items: flex-start;
    font-size: 53px; 
    margin-left: 95px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #060818;
    font-weight: 700; 
  }
  
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
  }
  
  
  .col-md-5 {
        width: 336px;
        margin-left: 60px; 
        margin-right: 48px;
        
  }

   .col-md-5 .dos{
    margin-bottom:-55px;
   }

   .flex-column{
    padding-bottom: 20px;
   }

   .uno p{
    margin-top:10px;
    margin-bottom:-30px;
   }
   .uno hr{
    margin-top:30px;
   }
   .uno a {
    color: black;
  }
  
  
   
  .row P{
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
  .row h5{
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
  .telefono:hover,
  .correo:hover {
  color: white;
}

  
  
  .col-md-7 {
    flex: 1 0 45%;
    margin-top: 17px;
  }
  
  
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 120px;

  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 60px;
    width: 78%; 
    font-size: medium;
    color: #808080;
    font-family: Arial, Helvetica, sans-serifs;
    background-color: #d6d3d3;
  }
  ::placeholder {
    font-size: 1.3em;
  }
  .control-group textarea{
    width: 88%;
    height: 240px  !important;
    border-radius: 19px !important;
    margin-bottom: -35px !important;
  }
  .let {
    width: 39% !important;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    background-color: #dfdfdf;
    color: #000000;
    padding: 8px;
    cursor: pointer;
    margin-right: 65px;
    width: 220px; 
    text-align: center; 
    border-radius: 5px !important;
    border: none !important;
    font-size: 1em !important;
  }
  
  .contact-form strong{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serifs;
  }
  
  .contact-form button:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    transition: background-color 0.5s ease-out;
  }


  .form-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row > div {
    flex: 1;
    margin-right: 20px;
  }
  
  .form-row > div:last-child {
    margin-right: 0;
  }
  @media (min-width: 300px) and (max-width:1200px) {
    body {
      max-width: 100%;
      margin: 0 auto;
    }

    .text-center h1{
      display: flex;
      justify-content: center;
      font-size: 4em;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    
    .col-md-5 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      order: 2;
      text-align: center;
    }
    .uno,.dos{
      font-size: 1.5em;
    }
    .font-weight-bold{
      margin-left: 160px;
      margin-right: 160px;
    }
    .col-md-7 {
      flex: 1 0 100%s;
      margin-top: 10px;
      order: 1;
      display: flex;
      flex-direction: column;
    }
    .contact-form input,
    .contact-form textarea {
      padding: 25px;
    }
    ::placeholder {
      font-size: 2em;
    }
    .contact-form strong{
      font-size: 2em;
    }
    .form-row {
      display: block;
    }
    .control-group {
      width: 100%;
      margin-bottom: 20px;
    }

    .form-control {
      width: 100%;
      box-sizing: border-box;
    }
    
  }
  


