<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="nav.css">
    <script src="https://kit.fontawesome.com/c8fb48dbb1.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav>
    <div class="nav-logo">
    <img src="imagenes/png-clipart-logo-house-home-house-angle-building-thumbnail.png" alt="Logo">
    </div>
    <div class="nav-cont">
        <div class="nav-links">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav center">
                    <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Inicio</span></a></li>
                    <li class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="#"><span>Servicios</span></a></li>
                    <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Productos</span></a></li>
                    <li class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="#"><span>Reservar</span></a></li>
                    <li class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="#"><span>Contáctanos</span></a></li>
                </ul>
            </div>
        </div>
    <button id="register-btn"><a href="#" id="button_nav1">Registrarse</a></button>
    <button id="login-btn"><a href="#" id="button_nav2">Iniciar sesión</a></button>
    </div>    
</nav>
</header>
</body>
</html>

